[Unit]
Description=Jalankan scraper sinyal harga berkala

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
Unit=scraper.service

[Install]
WantedBy=timers.target
